body {
    margin: 1em;
}

#selectorsdiv, #outputdiv {
    justify-content: center;
    margin: 3em;
    border: 2px solid black;
    border-radius: 1em;
    padding: 2em;
}

#output {
    border: 1px solid gray;
    padding: 1em;

}

#createtextbox {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

#text, textarea {
    width: 100%;
}

textarea {
    height: 100%;
}

.titleDiv {
    text-align: center;
}

.maintitle {
    font-size: 500%;
    text-align: center;
    color: lightgray;
}

.topthing {
    color: darkgray;
}

.bottomthing {
    font-size: 70%;
}

header {
    justify-content: center;
    display: flex;
    padding-top: 2em;
}

footer {
    text-align: center;
    padding: 2em;
}

.warning {
    justify-content: center;
    display: flex;
}

main {
    padding-top: 2em;
    padding-bottom: 2em;
}

#micro {
    margin: 0 1em 0 0;
    height: 100px;
}